* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(47, 46, 46);
    color: white;
}

.heading {
    margin-top: 3rem;
    text-align: center;
}

.carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
    margin: 5rem auto;
    max-width: 60%;
    height: 20rem;
    overflow: hidden;
}

.btn {
    top: 40%;
    position: absolute;
    border-radius: 0.3rem;
    border: none;
    outline: none;
    padding: 0.6rem 0.8rem;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-weight: bold;
    font-size: 1rem;
}

.btn:hover {
    background-color: rgb(140, 138, 138);
    color: rgb(251, 250, 250);
}

.btn-pre {
    left: 1rem;
}

.btn-next {
    right: 1rem;
}

.car-div {
    position: absolute;
    width: 100%;
    height: 100%;
}

.c1 {
    opacity: 1;
}
.c2 {
    opacity: 0;
}
.c3 {
    opacity: 0;
}